main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    margin: 0 25%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box span{
    border: 1px solid black;
    padding: 3px 5px;
}
.value{
    border: 1px solid black;
    padding:1px 10px;
}


